
h1 {
    text-align: center;
  }
  
  .cart-container {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 20px 0;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .product {
    border-bottom: 1px solid #eee;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .product-data{
    display:flex;
    gap:15px;
    width:100%;
    
  }

  .product button{
    padding:5px;
    
  }
  
  button{
    border:none;
    background-color: red;
    color:white;
    padding:10px;
    border-radius:20px
  }

  button:hover{
    transform: scale(0.9);
    transition: all 0.2s;
  }

  .total-container{
    display: flex;
    justify-content: space-between;
    border-top:1px solid black;
    padding:20px 1px;
  }

  .total-container-btns {
    display:flex;
   column-gap:5px;
  }
  .cart-btns{
    display:flex;
    justify-content: end;
    gap:6px;
  }
  .cart-btns button{
    background-color: blue;
  }