
.category-header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px; 
}

.back{
    border:none;
    background-color: white;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 3px;
  
}
.product-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 10px;
    background-color: #fff;
    margin-bottom:8px;
  }
  
  .product-info {
    flex: 1;
    color:black
  }
  
  .name{
    font-weight: bold;
  }
  .product-controls {
    display: flex;
    align-items: center;
    gap:4px
  }
  
  .decrease, .increase {
    background-color: rgb(224, 75, 75);
    color: #fff;
    border: none;
    width: 30px; 
    height: 33px;
    border-radius: 50%; 
    cursor: pointer; 
    font-size: 14px;
  }
  
  .increase{
    background-color: rgb(73, 99, 186);
  }

  .decrease:hover{
    background-color: red
  }
  .increase:hover{
    background-color:  rgb(55, 70, 169);
  }


  button{
    border:none;
    background-color: white;
  }

  button:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    transition: all 0.3s;
  }


.pagination-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top:20px
}

.pagination-controls button {
  color: gray;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.pagination-controls button:disabled {
  cursor: not-allowed;
}


.pagination {
  display: flex;
  gap: 5px;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ccc;
  cursor: pointer;
}

.dot.active {
  background-color: #6d6a6e;
}





.product-card {
  /* Ensure sliding animation style */
  transition: transform 0.3s ease-in-out;
}

.product-card.ng-enter,
.product-card.ng-leave {
  transition: transform 0.3s ease-in-out;
}

.product-card.ng-enter {
  transform: translateX(-100%);
}

.product-card.ng-enter-active,
.product-card.ng-leave-active {
  transform: translateX(0%);
}
