<div class="container">
  <div class="home-header">
    <button (click)="switchTheme()" id="theme" [ngClass]="themeIcon"></button>
    <h1>Category name</h1>
    <button (click)="openCardModal()">
      <i class="bi bi-cart-fill"
        ><span>{{ getTotalQuantity() }}</span></i
      >
    </button>
  </div>
  <input
    type="search"
    placeholder="filter categories"
    [(ngModel)]="searchString"
    (ngModelChange)="filterCategories()"
  />
  <div *ngIf="filteredCategories.length > 0; else noResults"></div>
  <ng-template #noResults>
    <p>No categories found.</p>
  </ng-template>
  <ng-container *ngFor="let category of filteredCategories">
    <div class="product-card">
      <a [routerLink]="['/category', category.id]" class="product-info">
        <a class="link"
          ><span class="category-name">{{ category.name }}</span>
        </a>
        <span class="category-count">{{ category.products.length }} items</span>
      </a>
    </div>
  </ng-container>
</div>
